# 11: Melakukan seleksi kolom dan baris pada Data Frame menggunakan loc

Cindy Amelia Saputra - 2273011

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  11   7   7  15  15
1  17   2   4  15   3
2  18   1   8   2   1
3   7  13   8  16   1
4  10   1  13   5  14
5   1  18  10  12  16
6  17  14   4  17  13
7   9   4   7  12  14
8  14   8   8   7   4
9   9  11   9   9   8

Seleksi kolom dan baris menggunakan loc

In [3]:
df.loc[[0,3,4], ['B','E']]

    B   E
0   7  15
3  13   1
4   1  14

Seleksi baris dengan kondisi

In [4]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
3  13  16   1
5  18  12  16
6  14  17  13
9  11   9   8

Slicing Data Frame dengan loc

In [5]:
df.loc[0:4, 'B':'D']

    B   C   D
0   7   7  15
1   2   4  15
2   1   8   2
3  13   8  16
4   1  13   5